body {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center ;
}
.title h1 {
    border-bottom: solid 0.2rem rgba(155, 155, 155, 0.5);
    margin-top: 15%;
}

.left {
    background-color: bisque;
    text-align: center;
    width: 50%;
    height: 50rem;
    float: left;
    border-radius: 10px;
}

.left .our_story {
    padding: 5rem 0 2rem 0;
    border-bottom: 0.2rem dashed grey;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.left .paragraph_description {
    padding: 0.5rem 0 2rem 0;
    border-bottom: 2px dashed grey;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.right {
    text-align: center;
    width: 50%;
    height: 50rem;
    float: right;
}

.right img {
    justify-content: center;
    align-items: center;
    width: 87.5%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}