body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

/* .cart_container {
    min-width: 100vh;
    max-height: 300px;
} */

.cart_menu {
    text-align: center;
    border-bottom: solid 2px rgba(155, 155, 155, 0.5);
    margin-top: 15%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    /* position: absolute; */
    margin-top: 8rem;
    /* top: 56%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100rem;
    border-radius: 10px;
    background-color: white;
    /* overflow: scroll; */
    text-align: center;
    /* max-height: 200px; */
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.cart_table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    width: 100%;
}

th, td {
    /* display: block; */
    /* position: absolute; */
    font-size: 16px;
    padding: 25px;
    text-align: center;
    /* padding-right: 155.3px; */
    /* padding-right: auto; */
    /* padding-left: auto; */
    /* align-items: center; */
}

td {
    border-bottom: 1px solid black;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

th {
    background-color: #e44c5d;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.checkout_button a {
    width: 14%;
    border-radius: 2rem;
    background:  #e44c5d;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 18px;
    background-size: 200%;      /*Taka út?*/
    outline: none;              /*Taka út?*/
    cursor: pointer;            /*Taka út?*/
    transition: .5s;
    border: none;
    /* bottom: 26%; */
    position: absolute;
    left: 50%;
    /* height: 5%; */
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.buy_more a {
    width: 12%;
    border-radius: 2rem;
    background:  #e44c5d;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 18px;
    background-size: 200%;      /*Taka út?*/
    outline: none;              /*Taka út?*/
    cursor: pointer;            /*Taka út?*/
    transition: .5s;
    border: none;
    /* display: flex; */
    /* bottom: 26%; */
    position: absolute;
    left: 35%;
    /* height: 5%; */
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.total_price{
    float: right;
    position: relative;
    width: 100%;
    text-align: left;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

/* tr:hover {
    background-color: #e6e6e6;
} */
