body {
    padding: 0;
    margin: 0;
}

.cart_menu {
    text-align: center;
    border-bottom: solid 0.2rem rgba(155, 155, 155, 0.5);
    margin-top: 15%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 100%;
    background-color: white;
    text-align: center;
}


.center h1 {
    text-align: center;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}

.center form {
    padding: 0 4rem;
    box-sizing: border-box;
}

.cart_table {
    border: 0.5rem double black;
    justify-content: space-between;
    width: 100%;
}

th, td {
    font-size: 16px;
    padding: 2.5rem;
    text-align: center;
}

td {
    border-bottom: 0.1rem solid black;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    border-right: 0.1rem solid black;
}

th {
    background-color: #e44c5d;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 18px;
}

.checkout_button a {
    width: 14%;
    border-radius: 2rem;
    background:  #e44c5d;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    border: none;
    position: absolute;
    left: 52%;
    padding: 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
    text-align: center;
}

.buy_more a {
    width: 12%;
    border-radius: 2rem;
    background:  #e44c5d;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    border: none;
    position: absolute;
    left: 37%;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

.buy_more a:hover {
    color: black;
    text-shadow: none;
    text-decoration: none;
}

.checkout_button a:hover {
    color: black;
    text-shadow: none;
    text-decoration: none;
}


.bottom_box td {
    background-color: #e44c5d;
    border-right: none;
}

.bottom_box .total_price {
    float: right;
    width: 100%;
    padding: 3rem 0 3.2rem 0;
    border: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.total_price {
    position: relative;
    text-align: center;
    justify-content: center;
}

.delivery_price,
.delete_all {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.delete_all {
    background-color: #e44c5d;
    border-radius: 2rem;
    border: none;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 17px;
}

.delete_all:hover {
    border-radius: 2rem;
    background-color: #e44c5d;
    color: black;
    text-shadow: none;
    text-decoration: none;
    /* border: 1px solid black; */
    transition: .5s;
}

.delete_all:active {
    background-color: #48171d;
    color: white;
    transition: 0s;
}

.delete_button {
    border: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 0rem 1rem 0rem 1rem;
}

.delete_button:hover {
    background-color: #e44c5d;
    border-radius: 100%;
    border: none;
    color: white;
    transition: .3s;
}
