body {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center ;
}
.title h1 {
    border-bottom: solid 2px rgba(155, 155, 155, 0.5);
    margin-top: 15%;
}

.left {
    background-color: bisque;
    width: 50%;
    height: 50rem;
    float: left;
    border-radius: 10px;
}

.left .text_field {
    margin-left: auto;
    margin-right: auto;
}