body {
    padding: 0;
    margin: 0;
}

.footer_container {
    background-color: #e44c5d;
    width: 100%;
    position: absolute;
    height: 5.1rem;
    bottom: 0rem;
 }

a.left_value {
    display: block;
    float: left;
    font-size: 18px;
    margin-top: 1rem;
    align-items: center;
    margin-left: 10px;
 }

a.right_location,
a.right_about {
    margin-right: 8px;
    font-size: 18px;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: -41px;
}


.right_location:hover,
.right_about:hover,
.left_value:hover {
    color: black;
    text-decoration: none;
}
