body {
    background-color: #f9efde;
    /* overflow-x: hidden; */
    min-height: 150vh;
    /* padding-bottom: 2rem; */
}

.order,
.home,
.title_menu,
.title_offers,
.title_nutrit_ingred {
    text-align: center;
    border-bottom: solid 2px rgba(155, 155, 155, 0.5);
    margin-top: 15%;
}

.container-fluid-bottom {
    background-color: #e44c5d;
    bottom: 0;
    position: absolute;
}

.container-fluid {
    background-color: #e44c5d;
    padding: 5px;
    width: 80%;
    margin-top: 2rem;
    border-radius: 20px;
    justify-content: space-between;
}

.navbar-right, .navbar-header {
    margin-top: 2rem;
}

a {
    color: white;
    font-weight: bold;
    font-style: italic;
}

a:hover {
    color: black;
}