/* MENU AND OFFER BOXES */
.menu_container,
.offer_container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
    padding: 0.6rem;
    width: 25rem;
}

.block {
    width: 36rem;
    height: 36rem;
    background-color: lightgray;
    border-radius: 5%;
    margin: 0.5%
  }

.block img {
    width: 36rem;
    height: 36rem;
    object-fit: cover;
    border-radius: 5%;
  }

/* END MENU AND OFFER BOXES */