{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/offers.css' %}">
    <h1 class="title_offers">{{ title }}</h1>
    <div class="offer_container">

        <div class="block">
            <a href="/offers/specialoffer">
             <img class="pizza_img" src="{{specialoffer.image}}" alt="Margherita pizza image">

            <div class="inner_block">
                <h2 id="pizza_name">{{specialoffer.name}}</h2>
                <p id="pizza_description">{{specialoffer.description}}</p>
                <p id="pizza_price">Price: {{specialoffer.price}} ISK</p>
            </a>
                <div class="bottom_block">
                    <a href="/offers/specialoffer"><button class="add_to_cart">Select offer</button></a>
                </div>

            </div>  
        </a>  
        </div>

        <div class="block">
            <a href="/offers/lunchoffer">
            <img class="pizza_img" src="{{lunchoffer.image}}" alt="Margherita pizza image">

           <div class="inner_block">
               <h2 id="pizza_name">{{lunchoffer.name}}</h2>
               <p id="pizza_description">{{lunchoffer.description}}</p>
               <p id="pizza_price">Price: {{lunchoffer.price}} ISK</p>
            </a>
               <div class="bottom_block">
                <a href="/offers/lunchoffer"><button class="add_to_cart">Select offer</button></a>
            </div>

           </div>  
        </a>  
       </div>

       <div class="block">
            <a href="/offers/twoforone">
                <img class="pizza_img" src="{{twoforone.image}}" alt="Margherita pizza image">

                <div class="inner_block">
                    <h2 id="pizza_name">{{twoforone.name}}</h2>
                    <p id="pizza_description">{{twoforone.description}}</p>
                    <p id="pizza_price">Price: {{twoforone.price}} ISK</p>
                </a>
                    <div class="bottom_block">
                        <a href="/offers/twoforone"><button class="add_to_cart">Select offer</button></a>
                    </div>

                </div>   
            </a> 
        </div>
    
    </div>
{% endblock %}