{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pizza_desc.css' %}">
<link rel="stylesheet" href="{% static 'css/selected_offer.css' %}">
    <div class="pizza_title">
        <h1>{{ title }}</h1>
    </div>

    <div class="left">
        <div class="pizza_info">
            <h2 class="pizza_name">{{twoforone.name}}</h2>

            <div class="description_container">
                <p class="paragraph_description">{{twoforone.description}}</p>

                <p class="special_sel_pizza">Select Pizza 1:</p>
                <select name="pizza">
                    {% for pizza in pizzas %}
                    <option value="{{ pizza.id }}">{{ pizza.name }}</option>
                    {% endfor %}
                </select>

                <p class="special_two_sel_pizza">Select Pizza 2:</p>
                <select name="pizza">
                    {% for pizza in pizzas %}
                    <option value="{{ pizza.id }}">{{ pizza.name }}</option>
                    {% endfor %}
                </select>

            <p class="special_sel_soda">Select Soda:</p>
                <select name="soda">
                    {% for soda in sodas %}
                      <option value="{{ soda.id }}">{{ soda.name }}</option>
                    {% endfor %}
                  </select>
                  
                <p class="paragraph_price">Price: {{twoforone.price}} ISK</p>
            </div>

            <div class="quantity_cart">
                <button class="add_to_cart">Add to cart</button>
            </div>

        </div>
    </div>

    <div class="right">
        <img class="pizza_img" src="{{twoforone.image}}" alt="{{twoforone.name}}">
    </div>
{% endblock %}