{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fix_css/pizza_desc.css' %}">
<link rel="stylesheet" href="{% static 'css/fix_css/selected_offer.css' %}">
    <div class="pizza_title">
        <h1>{{ title }}</h1>
    </div>

    <div class="left">
        <div class="pizza_info">
            <h2 class="pizza_name">{{twoforone.name}}</h2>

            <div class="description_container">
                <p class="paragraph_description">{{twoforone.description}}</p>

                <p class="special_sel_pizza">Select Pizza 1:</p>
                <select name="pizza1", id="pizza1-select">
                    {% for pizza in pizzas %}
                    <option value="{{ pizza.id }}">{{ pizza.name }}</option>
                    {% endfor %}
                </select>

                <p class="special_two_sel_pizza">Select Pizza 2:</p>
                <select name="pizza2", id="pizza2-select">
                    {% for pizza in pizzas %}
                    <option value="{{ pizza.id }}">{{ pizza.name }}</option>
                    {% endfor %}
                </select>

            <p class="special_sel_soda">Select Soda:</p>
                <select name="soda", id="soda-select">
                    {% for soda in sodas %}
                      <option value="{{ soda.id }}">{{ soda.name }}</option>
                    {% endfor %}
                  </select>
                  
                <p class="paragraph_price">Price: {{twoforone.price}} ISK</p>
            </div>

            <form id="add-to-cart-form" method="POST" data-product-type="Twoforone_offer">
                {% csrf_token %}
                <input type="hidden" name="pizza1_id" id="pizza-id-input1">
                <input type="hidden" name="pizza2_id" id="pizza-id-input2">
                <input type="hidden" name="soda_id" id="soda-id-input">
            <div class="quantity_cart">
                <button onclick="add_to_cart(event)" class="add_to_cart" id="add_to_cart_btn">Add to cart</button>
            </form>

        </div>
    </div>

    <div class="right">
        <img class="twoforone_img" src="{{twoforone.image}}" alt="{{twoforone.name}}">
    </div>

    <script src="{% static 'js/twoforone.js' %}"></script>

{% endblock %}