
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <h1 class="title_menu">Menu</h1>

    <div class="search_bar">
        <input id="text_field" type="text" placeholder="Search for a pizza...">
    </div>
    <div class="pizza_filter">
        <button class="filter_button all" data-filer="all">All</button>
        <button class="filter_button spicy" data-filter="spicy">Spicy</button>
        <button class="filter_button vegan" data-filter="vegan">Vegan</button>
        <button class="filter_button desert" data-filter="desert">Desert</button>
        <button class="filter_button popular" data-filter="popular">Popular</button>
        <span class="order_by">Order by:
            <button class="order_button" id="name">Name</button>
            <button class="order_button" id="price">Price</button>
        </span>
    </div>
    
    <div class="menu_container">
            {% for pizza in pizzas %}
                    {% include 'menu/single_pizza.html' with pizza=pizza %}
            {% endfor %}
    </div>

      <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}