
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <h1 class="title_menu">{{ title }}</h1>

    <div class="search_bar">
        <input type="text" placeholder="Search for a pizza...">
        <button class="search_button">Search</button>
    </div>
    <div class="pizza_filter">
        <button class="filter_button spicy">Spicy</button>
        <button class="filter_button vegan">Vegan</button>
        <button class="filter_button desert">Desert</button>
        <button class="filter_button popular">Popular</button>
        <span class="order_by">Order by:
            <button class="order_button" id="name">Name</button>
            <button class="order_button" id="price">Price</button>
        </span>
    </div>
    
    <div class="menu_container">
        <div class="block" href="home/">
            {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
            <div class="inner_block">
                <h2 id="pizza_name">Margherita</h2>
                <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                <p id="pizza_price">Price: 3780 ISK</p>
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button class="add_to_cart">Add to cart</button>
                </div>
            </div>    
        </div>

        <div class="block">
            {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
            <div class="inner_block">
                <h2 id="pizza_name">Margherita</h2>
                <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                <p id="pizza_price">Price: 3780 ISK</p>
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button class="add_to_cart">Add to basket</button>
                </div>
            </div>    
        </div>

        <div class="block">
            {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
            <div class="inner_block">
                <h2 id="pizza_name">Margherita</h2>
                <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                <p id="pizza_price">Price: 3780 ISK</p>
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button class="add_to_cart">Add to basket</button>
                </div>
            </div>    
        </div>

        <div class="block">
            {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
            <div class="inner_block">
                <h2 id="pizza_name">Margherita</h2>
                <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                <p id="pizza_price">Price: 3780 ISK</p>
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button class="add_to_cart">Add to basket</button>
                </div>
            </div>    
        </div>

        <div class="block">
            {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
            <div class="inner_block">
                <h2 id="pizza_name">Margherita</h2>
                <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                <p id="pizza_price">Price: 3780 ISK</p>
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button class="add_to_cart">Add to basket</button>
                </div>
            </div>    
        </div>

        <div class="block">
            {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
            <div class="inner_block">
                <h2 id="pizza_name">Margherita</h2>
                <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                <p id="pizza_price">Price: 3780 ISK</p>
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button class="add_to_cart">Add to basket</button>
                </div>
            </div>    
        </div>

        <div class="menu_container">
            <div class="block">
                {% load static %} <img class="pizza_img" src="{% static '/images/pizzas/pizza-1.jpg' %}" alt="Margherita pizza image"></a>
                <div class="inner_block">
                    <h2 id="pizza_name">Margherita</h2>
                    <p id="pizza_description">Tomato sauce, mozzarella, and oregano</p>
                    <p id="pizza_price">Price: 3780 ISK</p>
                    <div class="bottom_block">
                        <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                        <button class="add_to_cart">Add to cart</button>
                    </div>
                </div>    
            </div>

      </div>
{% endblock %}