{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/fix_css/pizza_desc.css' %}">
    <div class="pizza_title">
        <h1>{{ title }}</h1>
    </div>
    <div class="left">
        <div class="pizza_info">
            <h2 class="pizza_name">{{pizza.name}}</h2>
            <div class="description_container">
                <p class="paragraph_description">
                    {{pizza.description}}
                    <p class="p_toppings">
                    Pizza toppings:
                    </p>
                    {% for topping in toppings %}
                    <li>{{topping.name}}</li>
                    {% endfor %}
                </p>
                <p class="paragraph_price">Price: {{pizza.price}} ISK</p>
            </div>
            <form method="POST" id="pizza-form-{{pizza.id}}" data-product-type="pizza" data-product-id="{{pizza.id}}">
                {% csrf_token %}
                <div class="bottom_block">
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <button onclick="add_to_cart(this, event)" class="add_to_cart" id="add_to_cart_btn" value="{{pizza.id}}">Add to cart</button>
                </div>
            </form>
        </div>
    </div>

    <div class="right">
        <img class="pizza_img" src="{{pizza.image}}" alt="Margherita pizza image">
    </div>

<script>function add_to_cart(button, event) {
    event.preventDefault();
    console.log('clicked');
    const form = button.closest('form');
    const productType = form.dataset.productType;
    console.log(productType);
    const productId = button.value;
    console.log(productId);
    const quantity = form.elements.quantity.value;
    console.log(productType, productId, quantity);
    const url = `/menu/add_to_cart/${productType}/${productId}/${quantity}`;
    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        }
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error));
}</script>
{% endblock %}