{% load static %}
<div class="block" href="home/">
    <img class="pizza_img" src="{{pizza.image}}" alt="{{pizza.name}}"></a>
<div class="inner_block">
    <h2 id="pizza_name">{{pizza.name}}</h2>
    <p id="pizza_description">{{pizza.description}}</p>
    <p id="pizza_price">Price: {{pizza.price}} ISK</p>
    <div class="bottom_block">
        <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
        <button class="add_to_cart">Add to cart</button>
    </div>
</div>    
</div>