{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="cart_container">
    <h1 class="cart_menu">Your Cart</h1>
    <div class="center">
        <table class="cart_table">
            <tr>
                <th>Pizza name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete item</th>
            </tr>
            <tr>
                <td>Hawaiian</td>
                <td><input type="number" id="quantity" name="quantity" min="1" max="10" value="1"></td>
                <td>$20</td>
                <td><button class="delete_button">X</button></td>
            </tr>
            <tr>
                <td>Margherita </td>
                <td><input type="number" id="quantity" name="quantity" min="1" max="10" value="1"></td>
                <td>$12</td>
                <td><button class="delete_button">X</button></td>
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td><input type="number" id="quantity" name="quantity" min="1" max="10" value="1"></td>
                <td>$12</td>
                <td><button class="delete_button">X</button></td>
            </tr>
            <tr>
                <td>Pepperoni and Mushroom</td>
                <td><input type="number" id="quantity" name="quantity" min="1" max="10" value="1"></td>
                <td>$12</td>
                <td><button class="delete_button">X</button></td>
            </tr>
            <tr class="bottom_box">
                <td></td>
                <td></td>
                <td class="delivery_price">Delivery: Free</td>
                <td class="total_price">Total price: 30$</td>
            </tr>
            <!-- Add more rows for each pizza item -->
        </table>
    </div>
    <div class="checkout_button">
        <a href="{% url 'checkout-contact-info'%}">Proceed to checkout</a>
    </div>
    <div class="buy_more">
        <a href="{% url 'menu-index'%}">Buy more!</a>
    </div>
</div>
{% endblock content %}
