{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="cart_container">
    <h1 class="cart_menu">Your Cart</h1>
    <div class="center">
        <table class="cart_table">
            <tr>
                <th>{{cart_items.}}</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete item</th>
            </tr>
            {% for cart_item in cart_items %}
                {% include 'cart/cart_item.html' with cart_item=cart_item %}
            {% endfor %}
            <tr class="bottom_box">
                <td></td>
                <td></td>
                <td class="delivery_price">Delivery: Free</td>
                <td class="total_price">Total price: {{cart.total_price}}ISK</td>
                <td><a href="{% url 'delete_all_cart_items'%}">Delete all items</a></td>
                
            </tr>
        </table>
    </div>
    <div class="checkout_button">
        <a href="{% url 'checkout-contact-info'%}">Procced to checkout</a>
    </div>
    <div class="buy_more">
        <a href="{% url 'menu-index'%}">Buy more!</a>
    </div>
</div>
{% endblock content %}