{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="cart_container">
    <h1 class="cart_menu">Your Cart</h1>
    <div class="center">
        <table class="cart_table">
            <tr>
                <th>Pizza name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Are you sure?</th>
            </tr>
            <tr>
                <td>Hawaiian</td>
                <td>2</td>
                <td>$20</td>
                <!-- <button>X</button> -->
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td>1</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td>1</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td>1</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td>1</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td>1</td>
                <td>$12</td>
            </tr>
            <tr>
                <td>Pepperoni </td>
                <td>1</td>
                <td>$12</td>
            </tr>
            <tr>
                <th class="total_price">Total price: 30$</th>
            </tr>
            <!-- Add more rows for each pizza item -->
        </table>
    </div>
    <div class="checkout_button">
        <a href="#">Procced to checkout</a>
    </div>
    <div class="buy_more">
        <a href="{% url 'menu-index'%}">Buy more!</a>
    </div>
</div>
{% endblock content %}
