{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/payment.css' %}">
<div class="center">
  <h1>Payment Information</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="text_field" id="card_holder_name">
          <input type="text" name="name" id="cardHolderName" value="{{ user.payment_info.name|default_if_none:'' }}" >
          <span></span>
          <label>Name of card holder</label>
      </div>
      <div class="text_field" id="card_number">
          <input type="text" name="cardnumber" id="cardNumber" value="{{ user.payment_info.card_number|default_if_none:'' }}" >
          <span></span>
          <label>Credit card number</label>
      </div>
      <div class="row">
          <div class="text_field" id="exp_date">
              <input type="text" name="expirationdate" id="expirationDate" value="{{ user.payment_info.expiration_date|default_if_none:'' }}" >
              <span></span>
              <label>Exp. date (MM/YY)</label>
          </div>
          <div class="text_field" id="cvc">
              <input type="text" name="cvc" id="cvcNumber" value="{{ user.payment_info.cvc|default_if_none:'' }}" >
              <span></span>
              <label>CVC</label>
          </div>
      </div>
        <a href="{% url 'checkout-review-info'%}">
        <input type="submit" value="Confirm Payment">
        </a>
    </form>
</div>
<script src="{% static 'js/payment.js' %}"></script>
{% endblock content %}