
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">

<div class="center">
  <h1>Payment Information</h1>
    <!-- <form method="POST"> -->
        <div class="text_field" id="card_holder_name">
            <input type="text" name="name" required>
            <span></span>
            <label>Name of card holder</label>
        </div>
        <div class="text_field" id="card_number">
            <input type="text" name="card number" required>
            <span></span>
            <label>Credit card number</label>
        </div> 
        <div class="row">
            <div class="text_field" id="exp_date">
              <input type="text" name="expiration date" required>
              <span></span>
              <label>Exp. date (MM/YY)</label>
            </div>
            <div class="text_field" id="cvc">
              <input type="text" name="cvc" required>
              <span></span>
              <label>CVC</label>
            </div>
          </div>
        <a href="{% url 'checkout-review-info'%}">
        <input type="submit" value="Confirm Payment">
        </a>
    <!-- </form> -->
</div>

<script src="{% static 'js/payment.js' %}"></script>
{% endblock content %}