{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/review.css' %}">
<div class="title">
    <h1>{{ title }}</h1>
    <div class="center">
        <h3 class="contact_info">Contact Info</h3>
        <form action="{% url 'checkout-payment-info'%}" method="POST">
            <div></div>
            <div class="text_field" id="first_name">
                <label>Full name: <span class="filled_out_info">Oliver Gabriel</span> </label>
            </div>
            <div class="text_field" id="last_name">
                <label>Address: <span class="filled_out_info">Háeyrarvellir 42</span></label>
            </div> 
            <div class="text_field">
                <label>Location: <span class="filled_out_info">Ísland, Eyrarbakki, 820</span></label>
            </div>
        </form>
    </div>
</div>

{% endblock content %}