
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="left">
    <div class="about_us_info">
        <h2 class="our_story">Welcome {{user.name}}</h2>

        <div class="description_container">
            <p class="paragraph_description">
                Text

            </p>
        </div>
    </div>
</div>

    <div class="image_container">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url('https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/');">
                </div>
            </div>
        </div>
    </div>
{% endblock %}