
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="left">
    <div class="about_us_info">
        <h2 class="our_story">Welcome {{user.name}}</h2>

        <div class="description_container">
            <p class="paragraph_description">
                Text

            </p>
        </div>
    </div>
</div>

<div class="container">
    <h1>Profil Image Upload 
    </h1>
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');">
            </div>
        </div>
    </div>
</div>

    <script>
        function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
    </script>
{% endblock %}