
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="left">
    <div class="about_us_info">
        <h2 class="our_story">Welcome to your profile</h2>

        <div class="description_container">
            <p class="paragraph_description">
                Hi {{user.profile.first_name}} {{user.profile.last_name}}, hope your having a good day!
                <br>
                <br>
                You can change your name by inserting a new first or last name. You can also change the picture by linking a new URL. Then press confirm change to update changes</p>

            <form method="post">
            {% csrf_token %}
            <div class="text_field" id="first_name">
                <input type="text" name="firstname" value="{{ user.profile.first_name }}" required>
                <span></span>
                <label>First name</label>
            </div>
            <div class="text_field" id="last_name">
                <input type="text" name="lastname" value="{{ user.profile.last_name }}" required>
                <span></span>
                <label>Last name</label>
            </div>
            <div class="text_field">
                <input type="text" name="profile_picture" value="{{ user.profile.profile_picture }}">
                <span></span>
                <label>URL</label>
            </div>
            <input type="submit" value="Confirm change">
        </div>
    </form>
    </div>
</div>
<div class="right">
    <img src="{{ user.profile.profile_picture }}" alt="Profile image">
</div>
{% endblock %}