
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="left">
    <div class="about_us_info">
        <h2 class="our_story">Welcome to your profile</h2>

        <div class="description_container">
            <p class="paragraph_description">
                {% if user.profile.first_name == "" %}
                    Hi {{user.first_name}} {{user.last_name}}, hope your having a good day!
                {% else %}
                    Hi {{user.profile.first_name}} {{user.profile.last_name}}, hope your having a good day!
                {% endif %}
                <br>
                <br>
                You can change your profile picture by clicking on the choose file button below the image.
                You can also change your name by writing the new name in the text box below and clicking the change name button.
            </p>

            <div class="text_field" id="first_name">
                <input type="text" name="firstname" required>
                <span></span>
                <label>First name</label>
            </div>
            <div class="text_field" id="last_name">
                <input type="text" name="lastname" required>
                <span></span>
                <label>Last name</label>
            </div>
        </div>
    </div>
    <input type="submit" value="Confirm change">
</div>

<div class="right">
    <img src="{% static '/images/profile_img.png'%}" alt="Profile image">
    <div class="text_field">
        <input type="text" name="url_link">
        <span></span>
        <label>URL</label>
    </div>
    <div>
        <input type="submit" value="Edit image">
    </div>
</div>
{% endblock %}