
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>

    <div class="left">
        <div class="about_us_info">
            <h2 class="our_story">Our Story</h2>

            <div class="description_container">
                <p class="paragraph_description">
                    Welcome to GEO Pizzahouse, the brainchild of three lifelong friends with a shared passion 
                    for delectable pizzas and a dream to bring their culinary creations to the world. Our story 
                    began on a cozy evening, as we gathered around a kitchen counter, kneading dough and 
                    experimenting with flavors. Through countless trial and error, we developed a secret recipe 
                    that soon became the talk of the town. Fuelled by our ambition, we decided to turn our culinary 
                    prowess into a unique online experience. Combining our love for pizzas with our fascination for 
                    the world, GEO Pizzahouse was born. Join us at GEO Pizzahouse, where friendship, flavor, and exploration 
                    converge to create an unforgettable pizza experience.

                </p>
            </div>
        </div>
    </div>

    <div class="right">
        <img class="group_photo" src="{% static '/images/group/photo.jpg' %}" alt="Group photo of the team">
    </div>
{% endblock %}