{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'menu-index' %}">Menu</a>
      <!-- {% load static %} <a<img class="little_pizza" src="{% static '/images/little_pizza.png' %}" alt="little_pizza"></a> -->
      <a class="navbar-brand" href="{% url 'offers-index' %}">Offers</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-right">
        <!-- <li><a href="{% url 'menu-index' %}">Menu <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'offers-index' %}">Offers</a></li> -->
        {% if user.is_authenticated %}
        <div>
          <img class="profile_picture" src="{{user.profile.profile_picture}}" alt="Profile picture">
        </div>
          <span class="user_profile">Hi {{user.profile.first_name}} {{user.profile.last_name}}</span>
          <a class="navbar-brand-right-logged" href="{% url 'profile' %}">Profile</a>
          <a class="navbar-brand-right-logged" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="navbar-brand-right" href="{% url 'login-page' %}">Login</a>
          <a class="navbar-brand-right" href="{% url 'sign_up' %}">Sign up</a>
        {% endif %}
        <!-- <a class="navbar-brand-right" href="{% url 'login-page' %}">Login</a>
        <a class="navbar-brand-right" href="{% url 'sign_up' %}">Sign up</a> -->
        <!-- <a class="navbar-brand-right" href="#"><img class="cart" src="{% static '/images/cart.png'%}" alt="cart"> -->
        <a class="navbar-brand-right" href="{% url 'cart-page' %}">Cart</a>
        <!-- <button class="navbar-brand-right">Cart</button> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div class="logo_img">
    {% load static %} <a class="img_click" href="/home"><img class="logo_navigation_bar" src="{% static '/images/pizzalogo.jpg' %}" alt="Company logo"></a>
  </div>
</nav>